
.myTitle{
    text-align: center
}
.cardProducts{
    border: solid 1px black
}
ion-img{
    border-radius: 50%;
    margin-left: -15px;
}
.cardColor{
    background-color: #EFF5F5;
}

ion-card-content{
    height: 90%;
    padding: 0;
    margin: 0
}
.divider1{
    right: 10px;

}
.divider2{
 left: 8px;
}