.myTitle {
  text-align: center
}

.cardProducts {
  border: solid 1px black
}

.imagem {
  border-radius: 50%;
  min-width: 45px;
  min-height: 45px;
}

ion-card-content {
  height: 90%;
  padding: 0;
  margin: 0
}

.divider1 {
  right: 30px;
}

.divider2 {
  left: 5px;
}



.cardColor{
    background-color: #92f4d7;
}

ion-card-content {
  height: 90%;
  padding: 0;
  margin: 0

}


.calculator{

background-color: aquamarine;    
} 
.chip-md > ion-icon{

color: #0fc1d8;
background-color: #fff; 

}

.chip-md{
color:#fff;
background: rgb(46, 237, 181);

}
