.myTitle {
  text-align: center
}

.cardProducts {
  border: solid 1px black
}

.imagem {
  border-radius: 50%;
  min-width: 45px;
  min-height: 45px;
}

.cardColor {
  background-color: #EFF5F5;
}

ion-card-content {
  height: 90%;
  padding: 0;
  margin: 0
}

.divider1 {
  right: 30px;
}

.divider2 {
  left: 5px;
}
