<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h2 class="myTitle">Pedidos</h2>

  <div *ngFor="let meusPedidos of pedidos | async">
    <ion-card class="cardColor" (tap)="viewPedido(meusPedidos.chave)">
      <ion-row>
        <ion-col col-3>
          <ion-card-header>
            <img class="imagem" *ngIf="meusPedidos.tipo" src="assets/imgs/{{meusPedidos.tipo}}.png">
          </ion-card-header>
        </ion-col>

        <ion-col col-9>
          <ion-card-content>
            <ion-row>
              <ion-col col-6 class="divider1">
                <ion-chip>
                  <ion-icon name="contact"></ion-icon>
                  <ion-label>{{meusPedidos.nome}}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon name="calculator"></ion-icon>
                  <ion-label>{{meusPedidos.quantidade}}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon name="happy"></ion-icon>
                  <ion-label>{{meusPedidos.servico}}</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col col-6 class="divider2">
                <ion-chip>
                  <ion-icon name="flag"></ion-icon>
                  <ion-label>{{meusPedidos.tipo}}</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-icon name="card"></ion-icon>
                  <ion-label>R${{meusPedidos.valor}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
